<h2>Creating a Todo</h2>
<%= form_for :todo, url: "/users/#{@user.id}/todos", method: 'post' do |f| %>
<%= f.label :description %>
<%= f.text_field :description %></br>
<%= f.label :completed %>
<%= f.checkbox_field :completed %>
<%= f.label :due %>
<%= f.date_field :due %></br>
<%= f.submit "create" %>
<% end %>
