<h2>Creating a Todo</h2>
<%= form_for :todo, url: "/users/#{@user.id}/todos", method: 'post' do |f| %>
<%= f.label :description %>
<%= f.text_field :description %></br>
<%= f.label :completed %>
<%= f.text_field :completed %></br>
<%= f.label :due %>
<%= f.text_field :due %></br>
<%= f.submit "create" %>
<% end %>
