<div class="container">
  <div class="image-div"><%= image_tag "minecraft-01.gif", class: 'image'%></div>
  <div class="image-div"><%= image_tag "chicken.gif", class: 'image'%></div>
  <div class="image-div"><%= image_tag "wolf-walking.gif", class: 'image'%></div>
  <div class="image-div"><%= image_tag "zombie-gangnam.gif", class: 'image'%></div>
  <div class="image-div"><%= image_tag "shadow-gao.png", class: 'image'%></div>
  <div class="image-div"><%= image_tag "yugioh.jpeg", class: 'image'%></div>
</div>
