<h2>Welcome <%= @user.first_name %></h2>
  <span>First Name: </span><%= @user.first_name %></br>
  <span>Last Name: </span><%= @user.last_name %></br>
  <span>Username: </span><%= @user.username %></br>
  <span>Account creation date: </span><%= @user.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
  <p><%= button_to "Edit", "/users/#{@user.id}/edit", method: :get %></p>
  <p><%= button_to 'Delete Account', "/users/#{@user.id}", method: :delete, data: {confirm: 'Are you sure?'}%></p>
